body {
    margin: 0;
    background: #1B244A;
}

h3 {
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    display: flex;
    justify-content: space-around;
}

.scoreEl {
    display: flex;
    justify-content: space-around;
    color: red;
    font-family: 'CursedTimerUlil-Aznm';
    text-align: center;
    margin-bottom: 10px
}